* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Font
@font-face {
  font-family: "HelveticaNeue";
  src: url("../public/fonts/HelveticaNeueBold.woff2") format("woff2"),
    url("../public/fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --width: 300px;
  --height: 100px;
  --top-color: #fff;
}

html {
  height: 100%;
}

body {
  font-family: "bio-sans";
  text-transform: uppercase;
  font-weight: bold;
  background: #fff;
  height: 100%;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  color: rgb(169, 169, 255);
}

img {
  width: 100%;
}

#app {
  height: 100%;

  .header {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
  
    .logo {
      width: 155px;
    }
  
    .logo-sub-txt {
      font-size: 0.7rem;
      letter-spacing: 7px;
      line-height: 6px;
      font-weight: 100;
    }
  }
}

.container {
  margin: 0 auto;

  section {
    .camera__info--icon {
      position: absolute;
      top: 1rem;
      left: 12rem;
      z-index: 99;
      color: #000;
    }

    .camera__info--icon li {
      list-style: none;
    }
  }
}

.vertical {
  position: fixed;
  z-index: 1;
  padding: 3.5rem 0 0 0;
  height: 100vh;
  background: #000;
  ul {
    text-align: left;
    a {
      li {
        color: #fff;
        font-size: 0.62rem;
        text-decoration: none;
        padding: 0.3rem 1rem !important;
        transition: 0.22s ease-in-out;
        position: relative;
        letter-spacing: 0.043rem;
        text-transform: unset;
        font-weight: 400;
      }
    }
  }

  &.right {
    width: 27rem;
    background: rgba(0, 0, 0, 0.97);
    right: 0;
    padding: 2rem;
    opacity: 0;
    transition: opacity 0.07s ease-in-out;

    h3 {
      font-size: 0.7rem;
      color: #fff;
      letter-spacing: 2px;
      margin: 0.5rem 0;
    }

    .fa-info-circle {
      color: #fff;
      font-size: 0.7rem;
      padding: 0 0.3rem;
    }
    .camera-info {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding: 0 2rem;
    }
    .camera-info-header {
      margin: 0.3rem 0;
    }
    .camera-info-info-body {
      color: #fff;
      font-size: 0.7rem;
      letter-spacing: 1px;
      text-align: left;
      width: 100%;
    }

    .camera-info-close {
      display: flex;
      justify-content: flex-end;

      i {
        color: #fff;
        transition: 0.22s ease-in-out;
        cursor: pointer;
      }
      i:hover {
        color: rgb(169, 169, 255);
      }
    }
  }

  .copyright-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 64%;
    padding: 0 1rem;
    line-height: 0px;

    .copyright {
      color: #fff;
      font-size: 0.68rem;
      line-height: 11px;
    }
  }
}

.photo-list {
  .photo-list-header {
    color: #fff;
    padding: 0.3rem 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  li {
    &:hover {
      background: rgba(255, 255, 255, 1);
      color: #000;
    }
    &.active {
      background: rgb(169, 169, 255);
      color: #000;
    }
  }
}

.horizontal {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  ul {
    display: flex;
    padding: 0 2rem;

    li {
      a {
        color: #000;
        padding: 0 0.3rem;
      }
    }
  }
}

nav {
  ul {
    li {
      display: block;
      padding: 0 0.4rem;

      a {
        color: #949494;
        font-size: 0.69rem;
        text-decoration: none;
        padding: 0 1rem;
        transition: 0.22s ease-in-out;
        position: relative;
        letter-spacing: 0.04rem;
      }
    }
  }
}

.nav-link:hover {
  color: #545454;
}

footer {
  position: fixed;
  z-index: 1;
}

.back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    position: relative;
  }

  i {
    padding: 0 0.2rem;
  }
}

.fas {
  font-size: 1rem;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 3;
}

.hide {
  display: none;
}

td {
  padding: 1rem 0px;
  font-weight: 100;
  text-align: left;
  width: 57%;
}
th {
  color: #a2a2a2;
}

// About Component Styles

.about {
  padding: 20rem;
  line-height: 32px;
  position: absolute;
  left: 21rem;
}

.about-text {
  font-family: Helvetica Neue;
  text-transform: initial;
  color: #333333;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 50px;
}

// Contact Component Form Styles

.contact {
  display: flex;
  height: 100%;

  header {
    display: flex;
    padding: 1rem;
  }

  .logo-container {
    text-align: center;
    margin: 0rem 19rem;
  }

  .logo {
    width: 155px;
  }

  .logo-sub-txt {
    font-size: 0.7rem;
    letter-spacing: 7px;
    line-height: 6px;
    font-weight: 100;
  }

  .goback {
    color: #ccc;
    transition: 0.1s ease-in-out;
  }

  .goback:hover {
    color: #333;
  }

  .left,
  .right {
    width: 50%;
  }

  .left {
    background: url("../public/img/bonitatrolly.jpg") -130px center no-repeat;
    background-size: cover;
  }

  .contact-form-container {
    height: 100%;
    padding: 9rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #contact-form {
    width: 100%;
    input[type="text"] {
      display: block;
      width: 100%;
      border: none;
      outline: none;
      font-size: 1rem;
      border-bottom: solid 2px #ededf0;
      color: #ccc;
      font-weight: bold;
      background: #f9f9f9;
      height: 0rem;
      padding: 1.5rem;
      transition: 0.2s ease-in-out;

      &:focus {
        border-bottom: solid 2px rgb(34, 34, 34);
      }
    }

    input[type="submit"] {
      width: 100%;
      height: 45px;
      color: #7d7d7d;
      font-weight: bold;
      font-size: 0.8rem;
      border: none;
      outline: none;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background: #333;
      color: #fff;
      transition: 0.12s ease-in-out;
    }

    label {
      input {
        margin: 0 0 1.8rem 0;
      }
    }
  }
}

/* About */
.demo {
  display: flex;
  flex-wrap: wrap;
}

section.vert {
  position: relative;
  display: flex;
  height: var(--height);
  width: calc(var(--width) * 3);
}

.vert {
  --height: 100vh;
  --width: 300px;
}

.image.above section.vert header,
.image.below section.vert footer {
  height: 100%;
  width: calc(var(--width) * 2);
  background-position: top;
}

.image.above section header,
.image.below section footer {
  height: calc(var(--height) * 2);
  background-image: url("../public/img/djtech3.jpg");
  background-size: cover;
}

section.vert header,
section.vert footer {
  height: 100%;
  /* width: var(--width); */
}

.image .vert .separator {
  margin-top: 0;
  margin-left: var(--width);
}

.image.above .separator {
  --top-color: transparent;
  /* margin-top: calc(var(--height) * -1); */
}

.image .separator {
  position: absolute;
}

.separator {
  width: var(--width);
  height: var(--height);
  background-image: linear-gradient(
    to bottom right,
    var(--top-color),
    var(--top-color) 50%,
    #ffffff 50%,
    #ffffff
  );
}

@media (max-width: 1420px) {
  .vertical {
    display: none;
  }
}

@media (min-width: 1420px) {
  body {
    overflow: hidden;
  }
  section {
    overflow-y: hidden;
    height: 100%;
  }
  .desktop {
    display: block;
  }
    .mobile {
      display: none;
    }
}

@media (max-width: 1420px) {
  .contact .contact-form {
    padding: 5rem;
    display: block;
  }
  .desktop { display: none }
  .mobile {
    display: block;
  }
}

@media (max-width: 1024px) {
  body {
    background: #e8e8e8;
  }
  .header {
    display: initial;
    background: #fff;

    .nav-right {
      display: none;
    }

    .logo  {
      width: 135px !important;
    }

    .logo-sub-txt {
      font-size: 0.2rem !important;
    }
  }
  .mobile {
    section {
      position: relative;
      text-align: center;
      margin: 0 1rem;
    }
    img { margin: 2rem 0 0rem 0; box-shadow: 0px 8px 18px #868686; border-radius: 12px; }
    section:first-child {
      img {
        margin: 6rem 0 0 0;
      }
    }
  }
  .logo-container {
    margin: 0rem;
  }
  .contact {
    display: initial;
    height: 100%;
  }
  .contact .left,
  .right {
    width: 100%;
    height: 100%;
  }
  .contact .contact-form {
    padding: 6rem;
    display: block;
  }
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background: rgba(0,0,0, 0.9);
    width: 78%;
    height: 81%;
    margin: 6rem 3rem;
    flex-direction: column;

    .fas {
      font-size: 2rem;
      color: #fff;
    }
}

.overlay__info {
  position: absolute;
  z-index: 1;
  background: rgba(0,0,0,1);
  width: 78%;
  height: 81%;
  margin: 6rem 3rem;
  flex-direction: column;
  z-index: 2; 
  color: #fff;
  .overlay__info--close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  .overlay__row {
    margin: 0.5rem 0;
    p {
      font-weight: 100;
      font-size: 0.8rem;
    }
  }
}
  .cookies__notification {
    right: 0 !important;
    width: 91% !important;
    margin: 0rem auto;
    position: fixed !important;
    bottom: 1rem !important;
    padding: 2rem !important;
    border-radius: 4px !important;
    z-index: 3 !important;
    left: 0;

    .cookies__notification-acceptBtn,
    .cookies__notification-moreBtn {
      width: 100% !important;
      margin: 0.3rem 0 !important;
    }
  }
}

@media (max-width: 692px) {
  header {
    display: initial;
  }
  .logo-container {
    margin: 0rem;
  }
  .contact {
    display: initial;
    height: 100%;
  }
  .contact .left,
  .right {
    width: 100%;
    height: 100%;
  }
  .contact .contact-form {
    padding: 3rem;
    display: block;
  }
}

@media (max-width: 515px) {
  .admin__page-container {
    .admin__dashboard-account {
      position: initial !important;
    }
    .admin__dashboard-account-dropdown {
      width: 100% !important;
      top: 4.4rem !important;
      right: 0rem !important;
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    form {
      button {
        width: 100% !important;
      }
    }
  }
  header {
    display: initial;
  }
  .logo-container {
    margin: 0rem;
  }
  .contact {
    display: initial;
    height: 100%;
  }
  .contact .left,
  .right {
    width: 100%;
    height: 100%;
  }
  .contact .contact-form {
    padding: 2rem;
    display: block;
  }
  .admin-container {
    padding: 0 1.2rem;
    width: 100% !important;
    input {
      display: block;
      width: 100%;
      margin: 4px 0 !important;
      height: 28px;
    }
    button {
      width: 100%;
      margin: 0 !important;
      padding: 0.4rem 1rem !important;
    }

    .admin-signIn__error {
      font-size: 0.7rem;
      text-transform: capitalize;
    }
  }
  .admin__page-container  {
    main {
      width: 100% !important;
    }    
  }
}

::placeholder {
  font-weight: bold;
  font-size: 0.9rem;
  color: #ccc;
}

.not-found-page {
  height: 100%;
  width: 100%;
  background: url("../public/img/bonitaskies.jpg") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-weight: 100;
  }
}

::selection {
  background-color: #000;
  color: #fff;
}

// Admin Sign In Form
.admin-container {
  width: 400px;
  margin: 0 auto;
  font-family: HelveticaNeue;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4 {
    font-size: 0.7rem;
    margin: 0.2rem 0;
  }
  input {
    border: none;
    // background: #efefef;
    background: #fff;
    margin: 0 2px;
    height: 24px;
    text-indent: 8px;
    border-radius: 2px;
    color: #424242;
    font-weight: bold;
    outline: none;
    border: solid 1px;
  }
  button {
    background: #fff;
    color: #000;
    padding: 0.23rem 1rem;
    outline: none;
    border: solid 1px #000;
    margin: 0 3px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 0.8rem;
    transition: 0.12s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      background: #000;
      color: #fff;
    }
  }

  .error {
    background: #fdcaca;
  }

  .admin-signIn__error {
    margin: 1rem 0;
    font-size: 0.8rem;
    text-transform: none;
  }

  .admin-signIn__description {
    margin: 2rem 0;
    font-size: 14px;

    p {
      text-transform: none;
    }
  }
}

// Cookies Notification Styles
.cookies__notification {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: rgba(0, 0, 0, 1);
  width: 529px;
  padding: 3rem;
  color: #fff;
  text-transform: none;
  border-radius: 8px;
  z-index: 1;

  p {
    padding: 0rem 0 1rem;
    font-weight: bold;
    font-size: 1rem;
  }

  .close {
    position: absolute;
    top: 1.2rem;
    right: 1.3rem;
    cursor: pointer;
    transition: 0.12s ease-in-out;

    &:hover {
      color: #a9a9ff;
    }
  }

  .cookies__notification-acceptBtn,
  .cookies__notification-moreBtn {
    width: 122px;
    color: #000;
    border: none;
    padding: 0.7rem 1.1rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
    margin: 0 0.5rem 0 0;
    cursor: pointer;
    transition: 0.12s ease-in-out;
  }

  .cookies__notification-acceptBtn {
    background: #a9a9ff;

    &:hover {
      background: #8282de;
    }
  }

  .cookies__notification-moreBtn {
    background: rgb(212, 212, 212);

    &:hover {
      background: rgb(255, 255, 255);
    }
  }
}

// Admin Dashboard Styles
.admin__page-container {
  width: 1250px;
  margin: 0 auto;
  input[type=text],
  input[type=file] {
    display: block;
  }
  input[type=text] {
    border: none;
    border-radius: 0px;
    width: 274px;
    height: 43px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
    outline: none;
    margin: 0.6rem 0 2rem;
    text-indent: 15px;
    // transition: 0.22s ease-in-out;
    font-weight: bold;

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }

  main {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    width: 1200px;
    margin: 0 auto;
  }

  form {
    label {
      text-transform: uppercase;
      font-size: 0.6rem;
    }
    button {
      display: block;
      background: #000;
      border: none; 
      border-radius: 5px;
      width: 108px;
      height: 38px;
      font-weight: bold;
      font-size: 0.8rem;
      outline: none;
      color: #fff;
      margin: 1rem 0;
      // text-transform: uppercase;
      font-family: 'helveticaneue';
      cursor: pointer;
      box-shadow: 0px 0px 8px #909090;
      transition: .12s ease-in-out;

      &:hover {
        box-shadow: none;
      }
    }
  }

  .admin__dashboard-account {
    position: relative;

  .admin__dashboard-account-toggle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: url("../public/img/rayrooftop.jpg") no-repeat center center;
    background-size: cover;

    &.active {
      box-shadow: 0px 0px 0px 4px rgb(224, 224, 224);
    }
  }

  .admin__dashboard-account-dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    width: 200px;
    top: 3.6rem;
    right: -1rem;
    padding: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    transition: 0.12s ease-in-out;

    .admin__dashboard-account-list {
      list-style: none;
      font-size: 0.9rem;
  
      li {
        padding: 1rem 1.1rem;
        border-bottom: solid 1px #efefef;
        transition: 0.12s ease-in-out;
  
        &:hover {
          background: rgb(245, 245, 245);
        }
      }
  
      a {
        color: #000;
        transition: 0.12s ease-in-out;
  
        li {
          padding: 1rem 1.1rem;
          border-bottom: solid 1px #efefef;
          transition: 0.12s ease-in-out;
    
          &:hover {
            background: rgb(248, 248, 248);
          }
        }
      }
    }
  }
}

  @keyframes fadeInUp {
    from {
        transform: translate3d(0,10px,0)
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }
  
  @-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,10px,0)
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }
  
  .animated {
    animation-duration: 0.6s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-fill-mode: both
  }
  
  .animatedFadeInUp {
    opacity: 0
  }
  
  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }

  .error {
    border-bottom: solid 2px red !important;
  }
}

input[type=file] {
  opacity: 0;
}

// Tooltip
/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .7em; /* opinion 3 */
  font-weight: 100;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .5ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #000;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #000;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}
